main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    gap: 30px;
    padding:0 4vw;
}

#header {
    text-align: center;
}

.fav-section {
    display: flex;
    flex-direction: row;
    align-content: center;
    max-width: 300px;
}

