main {
    display: flex;
    flex-direction: row;
    justify-content: start;
    max-width: 100%;
    gap: 10em;
    flex-wrap: wrap;
}

.fade-in {
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  

#header {
    font-size: 2.5em;
    line-height: $line-height;
}

.fav-section {
    display: flex;
    flex-direction: row;
    align-content: center;
    max-width: 500px;
    gap: 4em;
    line-height: $line-height;


    .thing-name {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    img, .thing-desc, .thing-link {
        margin: $marginTop;
    }

}

span {
    color: white;

    cursor: pointer;

}

#highlight {
    display: inline-block;
    position: absolute;
    z-index: -1;
    background-color: #757d8ef7;
    height: 50px; 
    width: 0%;
    transition: width 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
  
.things:hover #highlight{
    /* hardcoded */
    width: 220px;
}

.thing-link a {
    text-decoration: none;
    padding: 10px;
    background-color:rgb(0, 0, 0);
    color: white;
    border-radius: 5px;

    &:hover {
        background-color: white;
        color: black;
    }
}